@inherits LayoutComponentBase
@Body
<footer>
    <a href="https://open.spotify.com/" target="_blank">Spotify</a>'s website is used for downloading song's metadata if using spotify link and <a href="https://genius.com/" target="_blank">Genius</a>'s website is used for lyrics (and metadata when using genius link).
</footer>